.contact-title h1 {
    color: green;
    margin: 0 0 3em;
}
.main-body{
    width: 100%;
    margin:0 auto;
    background-color: gray;
}
.main-body-left {
    float: left;
    width: 45%;
    border-right: 1px solid #D7D7D7;
}