   

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color:white;
    padding-bottom: 40px;
    font-family: Arial;
}
.navbar {
    background-color: saddlebrown;
    padding: 1% 0;
    font-size: 1.2em;
}
.navbar-default .navbar-nav li a {
    color: lightgray;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.nav-item active  {
    color:lightslategray;
}



/* Customise The Carousel */

.carousel {
    margin-bottom: 60px;
}


.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    background-color: transparent;
    border: 0;

}
.carousel img {
    position: absolute;
}


/* Marketing Content */


/* Featurettes */

.featurette-divider {
    
}

