

html,body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(260deg, #f3f1f3  0%,  #2376ae 100%);
    margin:0;
    padding: 0;
    overflow-x:hidden;
    
  
}


.container {
  margin-top: 30px;
  padding-left: 0px;
  padding-right: 0px;
  color: green;
} 


.col-md-4 {
  margin-top: 0px;                     /*.....put some margins......*/
  margin-left: 0px;
}



.img {
     width: 500px;
     height: 500px;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
  
}




.thumbnail img {
  height:250px;
  width:100%;
}

.thumbnail img:hover {
  transform: scale(1.1);
  transform: 1s;
}









  







