
html,body {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 52px;
    padding: 0;
    overflow-x:hidden;
     
}
#img_gal {
 
  width: 100%;
  min-height: 100vh; 
  position: relative;    
}
#img_gal::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5; 
  background-image: url(../img/gallery2-min-min.jpg); 
}
#img_us {

  width: 100%;
  min-height: 100vh; 
  position: relative;
}
#img_us::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5; 
  background-image: url(../img/us-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
  .rounded-circle {
    border-radius: 50%;
    height: 240px;
    width: 240px;
    float: left;
    z-index: 2;
    bottom: 40px; 
  }
   .photo-heading {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0 auto;
    color: green;
   }
   .gallery-heading {
    letter-spacing: 0.1em;
    margin: 0 auto;
    color: blue;
    text-shadow: red 0px 0px 3px;
    font-size: 50px; 
    padding-left: 5px;
   }
   .display-4 {
     color:orangered;
   }
.post-content {
  position: relative; 
  text-align: center;
  top: 0rem;
  margin: 0 auto;
  font-size: 3rem;
  padding-right: 25px;
  padding-left: 25px;
  color: rgb(231, 10, 59);
  text-shadow: #e9e519ed 0px 0px 2px;
 }
 .post-content_gal {
  position: relative; 
  text-align: center;
 
  margin: 0 auto;
  font-size: 2rem;
  min-height: 100vh;
  color: rgb(231, 10, 59);
  text-shadow: #e9e519ed 0px 0px 2px;
 }
 .post-content_us {
  position: relative; 
  text-align: center;
  top: 5rem; 
  margin: 0 auto;
  text-shadow: red 0px 0px 3px;
  font-size: 2rem;
  color: orange;
  min-height: 100vh;
 }
.post-content_1 {
  text-align: center;
 /* padding-left: 45px;
  padding-right: 45px; */
  display: flex;
  justify-content: center;
 }
.bg-img {
  display: inline-block;
  width: 100%;
  font-size: 0;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
 }
.img-fluid {
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-size:100% auto;
  opacity:0.5;
}
.blue_button {
  position: relative;
  top: 0px;
  right:30px;
  bottom: 50px;
  text-align: center;
}
.button {
  background-color:  #2376ae;
 /* border: none; */
  padding: 15px 32px;
  text-decoration: none;
  margin: 4px 2px;  
}
.button a:hover{
  text-decoration: none;
}
a:hover {
  text-decoration: none;
 }
 .row {
   padding-bottom: 60px;
   padding-top: 100px;
   /*width: 800px;*/
 }
 .card-action {
   padding-bottom: 20px;
 } 
.text-primary {
  padding-right: 25px;
  padding-left: 25px;
}
.text_left_right {
  padding-right: 25px;
  padding-left: 25px;
  color: rgb(39, 3, 3);
  text-shadow: rgb(214, 103, 109) 0px 0px 3px;
}
.image-resize {
  opacity: 0.5;
}
.color {
  color:black;
}
.color:hover {
    text-decoration: none;
    color: black;
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .rounded-circle {
    width: 200px;
    height: 200px;
 }
}

img {
  max-width: 100%;
  
}

@media screen and (min-width: 375px) and (max-width: 667px){
  .rounded-circle {
    
    justify-content: center;
  
 }
}









@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');