* {
    box-sizing: border-box;
    padding: 0;
    
}


body {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 70px;
    text-align: left;
    /*overflow-x:hidden;*/
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin:0;
    padding-right: 0px;
    padding-left: 0px;
    position:relative;
}

/*
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}  

.font {
    font-size: 3;
}
*/



.navbar {
    width: 100%;
    font-size: 3px;
    background-image: linear-gradient(260deg, #2376ae 0%, #f3f1f3  100%);
    border: 0px;
    padding-bottom: .5em;
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
    margin-right:0px;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    position: absolute;

    
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
  /*For always expanded or extra full navbars, ensure content aligns itself
    properly vertically. Can be easily overridden with flex utilities. */
     align-items: center;
    
}



.navbar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    height: 50px;        /* if you want it to take the full height of the bar */
    line-height: 105px; 
}

li {
    list-style: none;
    float:left;
    
}

.navbar-bg {
    border: 0;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 0.1em;
    font-size: larger;
    background-color: linear-gradient(260deg, #2376ae 0%, #f3f1f3  100%);
}


.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.ml-3 {
    margin-left: 1rem!important;
}

.navbar-expand-lg .navbar-nav > li > a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 0px 16px;

}



.responsive-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -2px;
    text-align: center;
    position: relative;
    display: inline-block;

}

.navbar li {
    display: inline-block;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
  }
.navbar-nav a{
    text-decoration: none;
  }


.nav-item {
    float: right;
    list-style-type: none;
  }

  .navbar-nav > li > a {
    font-size: 20px;
}

.flex-row-reverse{
    flex-direction: row-reverse!important;
}
 
  .navbar-nav>li {
    display: inline-block;
    text-align: center;

}


.navbar-toggler {
    position: absolute;
    top: 20px;
    right: 0px;
    cursor: pointer;
    color: rgba(175, 30, 30, 0.37);
    font-size: 24px;

}

.active {
    display: block;
}



@media screen and (min-width: 768px) {
    .navbar li a {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0px;
        
        align-items: center;
        margin-right: 0px;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 0px;
        
    }
    ul{
        flex-direction: column;
      }
    
      li{
        margin: 0;
      }
     /* makes sure that the a tag will take the entire screen */
      a{
        display: block;
      }
}

    .nav-link {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-link:hover {
        color: rgba(255, 255, 255, 1);
    } 


/*end of the navbar */

   
/*content */    


.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  } 
  


.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
  }


.text-uppercase {
    font-family:proxima-nova, sans-serif !important;
    font-style: normal;
    font-size: 30px;
    font-weight:400;
    letter-spacing: 3px;
    color: #231f20;
    text-transform: uppercase;
    line-height: 1.5em;
    padding-top: 40px;
    padding-right: 27px;
}

#map {
    margin-top: 20px;
}



/* Footer */

.container-footer {

    margin-top: 0px;
    text-align: center;
    font-size: 100%;
    font-family: Verdana;
    width: 100%;
    min-height: 100%;
    background-image: linear-gradient(260deg, #2376ae 0%, #f3f1f3 100%);
    bottom: 0px;
    padding: 0px;
    position: relative;
    clear: both;
}


.justify-content-center li a {
    /*background-color: black; */
    border-radius: 50%;
    display: block;
    background:rgb(60, 86, 233);
}
 
.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    /*justify-content: center !important;*/
  }




.photo-heading {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #746b67;
    margin: auto;
    padding-bottom: 50px;
}


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

}

.social-icon {
    text-align: center;
    text-decoration: none;
  }


.social-icon li a:hover {
    background-color: rgb(130, 167, 212);
  }

  .social-icon li a {
    display: inline-block;
    font-size: 30px;
    line-height: 38px;
    /*width: 35px; */
    text-decoration: none;
    outline: none;
  }
  .social-icon li a i {
    color: #d2d2db;
  }







