
html,body {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 52px;
    padding: 0;
   /* background-image: linear-gradient(260deg, #f3f1f3  0%,  #2376ae 100%); */
   background-color: rgba(227, 227, 236, 0.534);
    overflow-x:hidden;    
}

.container {
  margin-bottom: 15px;
}

.col {
  flex-grow: 0.5;
}

.col-sm-12  {
  margin-top: 0px;
}

.text-center li {
    color: white;
    font-size: 25px;
    background-color: rgba(201, 76, 76, 0.5);
}

.form-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
  }

.text-uppercase {
    font-family:proxima-nova, sans-serif !important;
    font-style: normal;
    font-size: 30px;
    font-weight:400;
    letter-spacing: 3px;
    color:blue;
    line-height: 1.5em;
    padding-top: 50px;
    padding-right: 27px;
    padding-bottom: 30px;
}

#map {
    margin-top: 20px;
    border-radius: 5px;   
}

.form {
  background-color: rgb(60, 86, 233)!important;
}

.button {
  color: blue;
  background-color:  #cbdf16;
  border: none; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 /* font-size: 16px; */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.form-horizontal {
  border-radius: 5px;
  filter: sepia(30%);
}

.text-wheat {
  color: rgb(243, 183, 72);
  text-shadow: blue 0px 0px 2px;
}

.text-logo {
  color: rgb(243, 183, 72);
  text-shadow: green 0px 0px 3px;
}





