
.container {
  margin-bottom: 15px;
}
.col {
  flex-grow: 0.5;
}
.col-sm-12  {
  margin-top: 0px;
}
.text-center li {
  color: white;
  font-size: 25px;
  background-color: rgba(201, 76, 76, 0.5);
}
.form-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.text-uppercase {
  font-family:proxima-nova, sans-serif !important;
  font-style: normal;
  font-size: 30px;
  font-weight:400;
  letter-spacing: 3px;
  color: rgb(12, 11, 11);
  line-height: 1.5em;
  padding-top: 50px;
  padding-right: 27px;
  padding-bottom: 30px;
}
#map {
  margin-top: 20px;
  border-radius: 5px;   
}
.form {
  background-color: rgb(170, 218, 255)!important;
}
.button {
  color: blue;
  background-color:  #cbdf16;
  border: none; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.form-horizontal {
  border-radius: 5px;
  filter: sepia(30%);
}
.text-wheat {
  color: rgb(231, 10, 59);
  text-shadow: #e9e519ed 0px 0px 2px;
}
.text-logo {
  color: rgb(231, 10, 59);
  text-shadow: #e9e519ed 0px 0px 3px;
}







