
.text-uppercase {
    font-family:proxima-nova, sans-serif !important;
    font-style: normal;
    font-size: 30px;
    font-weight:400;
    letter-spacing: 3px;
    color: rgb(12, 11, 11);
    text-transform: uppercase;
    line-height: 1.5em;
    padding-top: 40px;
    padding-bottom: 30px;   
}
.text-uppercase_1 {
    font-family:proxima-nova, sans-serif !important;
    font-style: normal;
    font-size: 30px;
    font-weight:400;
    letter-spacing: 3px;
    color: rgb(12, 11, 11);
    text-transform: uppercase;
    line-height: 1.5em;
    padding-top: 50px;
    margin-top: 0px;
    padding-bottom: 30px;
}
p {
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    padding-top: 30px;       
}
.trans {
    opacity: 0.8;
}
a:hover {
    text-decoration: none;
}
a:visited {
    color: rgb(231, 10, 59);
    text-shadow: #e9e519ed 0px 0px 2px;
}
.row {
    padding-bottom: 20px;
}

