

/* navigation bar */





.navbar {
    width: 100%;
    font-size: 3px;
    background-image: linear-gradient(260deg, #2376ae 0%, #f3f1f3  100%);
    border: 0px;
    
    margin-bottom: 0px;
    /*height: 120px; */
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /*min-height: 120px;*/
        
}




.navbar > a {
    
    vertical-align: top;
    
    height: 50px;        /* if you want it to take the full height of the bar */
    
}

.navbar-bg {
    border: 0;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 0.1em;
    font-size: larger;
    background-color: linear-gradient(260deg, #2376ae 0%, #f3f1f3  100%); 
}

.navbar-brand {
    width: 80px;
   /* height: 80px; */
    border-radius: 50%;
    /*overflow: hidden; */
    margin-top: -2px;
    text-align: center;
    position: relative;   
    margin-bottom: 40px;
}

.ml-3 {
    margin-left: 1rem!important;
}



.navbar-expand-lg .navbar-nav > li > a {
    
    
    text-decoration: none;
    


}

.navbar li {
    display: inline-block;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
  }
.navbar-nav a{
    text-decoration: none;
  }


.nav-item {
    float: right;
    list-style-type: none;
  }

  .navbar-nav > li > a {
    font-size: 20px;
}

 
  .navbar-nav>li {
    display: inline-block;
    text-align: center;

}

.navbar-toggler {
   /* position: absolute;
    top: 20px; */
    right: 0px;
    cursor: pointer;
  
  
    

}

.active {
    display: block;
}




/*

.left { float: left; }

*/

    .nav-link {
        margin-left: 0px;
        margin-right: 0px;
      
    }

    .nav {
      text-align: right;
      padding-right: 0.5rem;
      box-sizing: border-box;
      
    
    }

    .nav ul{
     
      float: right;
    }
    
    .nav li {
     padding-right: 10px;
    }
    

    nav ul li{
      list-style: none;
      display: inline-block;
      padding: 0px;
      transition: 0.5s;
      }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-link:hover {
        color: rgba(255, 255, 255, 1);
    }

    
    

    /* Footer*/
   
.container-footer {

    margin-top: 0px ;
    text-align: center ;
    font-size: 100%;
    font-family: Verdana ;
    width: 100%;
    min-height: 100%;
    background-image: linear-gradient(260deg, #2376ae 0%, #f3f1f3 100%);
    bottom: 0px;
    padding: 0px;
    position: relative;
    clear: both;
  }
  
  
  
  
  /*
  .list-inline{
      /*background-color:black;
      }
  */
  
  
  .justify-content-center li a {
      /*background-color: rgb(35, 116, 223); */
      border-radius: 50%; 
      display: block;
      background:rgb(60, 86, 233);
  }
  
  /*
  .justify-content-center {
      -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
      justify-content: center !important; 
    }
  
    */
  
  
  .fa {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
  
  }
  
  .social-icon {
      text-align: center;
      text-decoration: none;
    }
    
  
  .social-icon li a {
      display: inline-block;
      font-size: 30px;
      line-height: 38px;
      width: 56px; 
      text-decoration: none;
      outline: none;
    }
    .social-icon li a i {
      color: #d2d2db;
      
    }
  
    .social-icon li a {
      width: 56px;
      height: 56px;
    }
  
    li {
      list-style: none;
      float:left; 
      padding: 15px;
      
  }
  
  .container-footer ul li {
        list-style: none;
        display: inline-block;
        padding: 5px;
        transition: 0.5s;
  
  
  }

  .black-text {
    padding-top: 10px;
  }
  